OneServer/TerraformOneServer/*.tfstate
OneServer/TerraformOneServer/*.tfstate.*
OneServer/TerraformOneServer/.terraform/
OneServer/TerraformOneServer/*.terraform.*
OneServer/TerraformOneServer/.terraform.lock.hcl
OneServer/*.terraform
Thumbs.db
