OneServer/*.tfstate
OneServer/TerraformOneServer/*.tfvars
OneServer/TerraformOneServer/*.tfstate
OneServer/TerraformOneServer/*.tfstate.*
OneServer/TerraformOneServer/.terraform/
OneServer/TerraformOneServer/*.terraform.*
OneServer/TerraformOneServer/.terraform.lock.hcl
OneServer/*.terraform
TwoServers/*.tfstate
TwoServers/*.tfstate.*
TwoServers/.terraform/
TwoServers/*.terraform.*
TwoServers/.terraform.lock.hcl
TwoServers/*.terraform
TwoServers/terraform.tfstate
TwoServers/terraform.tfstate
TwoServers/terraform.tfvars
